<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LectioDivina.Wydawca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="LectioDivina.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="TextWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <LectioDivina.Service.Properties.Settings>
      <setting name="SundayKey" serializeAs="String">
        <value>sunday</value>
      </setting>
      <setting name="MondayKey" serializeAs="String">
        <value>monday</value>
      </setting>
      <setting name="TuesdayKey" serializeAs="String">
        <value>tuesday</value>
      </setting>
      <setting name="WednesdayKey" serializeAs="String">
        <value>wednesday</value>
      </setting>
      <setting name="ThursdayKey" serializeAs="String">
        <value>thursday</value>
      </setting>
      <setting name="FridayKey" serializeAs="String">
        <value>friday</value>
      </setting>
      <setting name="SaturdayKey" serializeAs="String">
        <value>saturday</value>
      </setting>
      <setting name="WeekInvocationKey" serializeAs="String">
        <value>week_invocation</value>
      </setting>
      <setting name="WeekDescriptionKey" serializeAs="String">
        <value>week_description</value>
      </setting>
      <setting name="IssueMonthKey" serializeAs="String">
        <value>issue_month</value>
      </setting>
      <setting name="IssueYearKey" serializeAs="String">
        <value>issue_year</value>
      </setting>
      <setting name="WeekPicture" serializeAs="String">
        <value>week_picture</value>
      </setting>
      <setting name="DayDateKey" serializeAs="String">
        <value>date</value>
      </setting>
      <setting name="DayNameKey" serializeAs="String">
        <value>name</value>
      </setting>
      <setting name="DayTitleKey" serializeAs="String">
        <value>title</value>
      </setting>
      <setting name="DayDescriptionKey" serializeAs="String">
        <value>description</value>
      </setting>
      <setting name="DayReadingRefKey" serializeAs="String">
        <value>reading_ref</value>
      </setting>
      <setting name="DayReadingTextKey" serializeAs="String">
        <value>reading_text</value>
      </setting>
      <setting name="DayContemplation1Key" serializeAs="String">
        <value>contemplation1</value>
      </setting>
      <setting name="DayContemplation2Key" serializeAs="String">
        <value>contemplation2</value>
      </setting>
      <setting name="DayContemplation3Key" serializeAs="String">
        <value>contemplation3</value>
      </setting>
      <setting name="DayContemplation4Key" serializeAs="String">
        <value>contemplation4</value>
      </setting>
      <setting name="DayContemplation5Key" serializeAs="String">
        <value>contemplation5</value>
      </setting>
      <setting name="DayContemplation6Key" serializeAs="String">
        <value>contemplation6</value>
      </setting>
      <setting name="DayPrayerKey" serializeAs="String">
        <value>prayer</value>
      </setting>
      <setting name="CheckSpellingErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailAccount" serializeAs="String">
        <value>lectio.divina.wydawca@gmail.com</value>
      </setting>
      <setting name="MailPwd" serializeAs="String">
        <value>Strachocin</value>
      </setting>
      <setting name="MailImapHost" serializeAs="String">
        <value>imap.gmail.com</value>
      </setting>
      <setting name="MailImapPort" serializeAs="String">
        <value>993</value>
      </setting>
      <setting name="MailImapUseSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailSmtpHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="MaitSmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="MailSmtpUseSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailReadCount" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MailImapInboxName" serializeAs="String">
        <value>INBOX</value>
      </setting>
      <setting name="MailLectioPublisher" serializeAs="String">
        <value>jjprokopiuk@gmail.com</value>
      </setting>
      <setting name="OnJestUser" serializeAs="String">
        <value>LectioDivinaWydawca</value>
      </setting>
      <setting name="OnJestPwd" serializeAs="String">
        <value>Strachocin</value>
      </setting>
      <setting name="OnJestPostTemplate" serializeAs="String">
        <value>onjest post szablon.html</value>
      </setting>
      <setting name="OnJestAdminEmail" serializeAs="String">
        <value>tomek.romanowski@gmail.com</value>
      </setting>
      <setting name="OnJestPictureNameTemplate" serializeAs="String">
        <value>picyyMMdd.jp\g</value>
      </setting>
      <setting name="OnJestLectioNameTemplate" serializeAs="String">
        <value>l\dyyMMdd.p\d\f</value>
      </setting>
      <setting name="OnJestPictureMaxWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="OnJestPostOneDayKey" serializeAs="String">
        <value>sunday</value>
      </setting>
      <setting name="OnJestPostCategory" serializeAs="String">
        <value>slowo</value>
      </setting>
    </LectioDivina.Service.Properties.Settings>
    <LectioDivina.Wydawca.Properties.Settings>
      <setting name="LectioTargetExtension" serializeAs="String">
        <value>docx</value>
      </setting>
      <setting name="ShowWord" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShortContemplationPictureNumber" serializeAs="String">
        <value>2</value>
      </setting>
    </LectioDivina.Wydawca.Properties.Settings>
  </applicationSettings>
</configuration>
